<% content_for :title, "Editing friend" %>



<div class="card">
  <div class="card-header">
    <h2>Editing friend</h2>
  </div>
  <div class="card-body">
    <%= render "form", friend: @friend %>
  </div>
</div>

<br/>

<div class="d-flex p-2">
  <%= button_to "Show this friend", @friend,  class: "btn btn-secondary btn-sm d-inline p-2" %> 
   <%= button_to 'Delete', @friend, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm d-inline p-2" %>
   <%= button_to "Back to friends", friends_path,  class: "btn btn-secondary btn-sm d-inline p-2" %>
</div>
